{% load static %}

<footer class="page-footer font-small pt-4 bg-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-md-0 mt-3">
        <h5 class="text-light">Footer Content</h5>
        <p class="text-light">This website is created by Tu Anh for illustration purposes</p>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-light">Links</h5>
        <ul>
          <li><a class="text-light" href="{%  url 'home' %}">Main Page</a></li>
          <li><a class="text-light" href="/">Laptop</a></li>
          <li><a class="text-light" href="/">Others</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy All right Reversed.<a class="text-light ml-2" href="/" target="_blank">TuAnh Listing</a></p>
        </div>
      </div>
  </div>

</footer>