<div class="container" style="padding: 3em 0 1em 0">
    <h1 class="text-center">Tu Anh Electronics Scraper</h1>
    <div class="row" style="padding: 3em 0 1em 0">

        <div class="col">
            <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: #EE6E73;">
                <i class="fas fa-balance-scale"></i>
            </span>
            <p class="text-center">Multiple Sources</p>
            <p class="text-secondary text-center">Compare prices from different sources</p>
        </div>

        <div class="col">
            <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: skyblue;">
                <i class="fas fa-bolt"></i>
            </span>
            <p class="text-center">Latest data</p>
            <p class="text-secondary text-center">Always the newest, freshest data</p>
        </div>

        <div class="col">
            <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: dimgray;">
                <i class="fas fa-history"></i>
            </span>
            <p class="text-center">Search History</p>
            <p class="text-secondary text-center">Get your search histor</p>
        </div>
    </div>
</div>