<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'frontend:all_mobiles' 1%}">All Mobiles</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'frontend:mobile_byprice' 'Mobile' 0 4000000 1%}">Below 4.000.000</a></li>
  <li><a href="{% url 'frontend:mobile_byprice' 'Mobile' 4000000 10000000 1%}">4.000.000 - 10.000.000</a></li>
  <li><a href="{% url 'frontend:mobile_byprice' 'Mobile' 10000000 1000000000 1%}">Above 10.000.000</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'frontend:new_search' %}">Detail Search</a></li>
</ul>

<header>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">TuAnh Listing</a>
            <ul id="nav-mobile" class="right">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Mobiles<i class="material-icons right">arrow_drop_down</i></a></li>
                {% if user.is_authenticated %}
                    <li><a href={% url 'Logout' %}>Logout</a></li>
                {% else %}
                    <li><a href={% url 'Login' %}>Login</a></li>
                {% endif %}
                <li><a href={% url 'about' %}>About</a></li>
            </ul>
        </div>
    </nav>
</header>
<script>
    $(document).ready(function(){
        $(".dropdown-trigger").dropdown();
    });
</script>