<!DOCTYPE html>
{% load static %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
{% include "base/NavBar.html" %}

<main>
    {% include "base/intro.html" %}
    <div class="container">
        {% if low and high and dev %}
            {% include "base/paginator_byPrice.html" with items=allData low=low high=high dev=dev %}
        {% else %}
            {% include "base/paginator.html" with items=allData %}
        {% endif %}

        {% if source %}
            <h3 class="text-center pt-1 pb-2">Data from {{ source }}</h3>
        {% endif %}

        <div class="row">
            {% for collection in allData %}
                <div class="col col-md-4 col-lg-3 col-sm-auto">
                    {% include "mobile/cardItems.html" with collection=collection cardnumber=forloop.counter %}
                </div>
            {% endfor %}
        </div>

        {% if low and high and dev %}
            {% include "base/paginator_byPrice.html" with items=allData low=low high=high dev=dev %}
        {% else %}
            {% include "base/paginator.html" with items=allData %}
        {% endif %}
    </div>

</main>

{% include "base/footer.html" %}
</body>
</html>