<!DOCTYPE html>
{% load static %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
{% include "base/NavBar.html" %}

<main>
    <h1 style="text-align: center">Filter Devices</h1>
    <form action="{% url 'frontend:search_result' %}" method="post" id="filter_conditions">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s3">
                <select id="BRAND">
                  <option value="" disabled selected>Select Brand</option>
                  {% for brand in all_brands %}
                    <option value={{ brand }}>{{ brand }}</option>
                  {% endfor %}
                </select>
                <label>Materialize Select</label>
             </div>

            <div class="input-field col s3">
                <input placeholder="Placeholder" id="MODEL" type="text" class="validate">
                <label for="item_model">Device Model</label>
            </div>
        </div>
        <div>
            <input type="submit" value="Search">
        </div>
    </form>


</main>

{% include "base/footer.html" %}

<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>