<!DOCTYPE html>
{% load static %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
    {% include "base/NavBar.html" %}
    <main>
        <h1 style="text-align: center">About Me</h1>
        <div class="row">
            <div class="col">
                <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: palevioletred;">
                    <i class="fas fa-user-tie"></i>
                </span>
                <p class="text-center"><strong>Particular</strong></p>
                <p class="text-center">Name: Dang Tu Anh</p>
                <p class="text-center">Nationality: Vietnamese</p>
                <p class="text-center">Work Pass: EP</p>
            </div>

            <div class="col">
                <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: palevioletred;">
                    <i class="fas fa-university"></i>
                </span>
                <p class="text-center"><strong>Education</strong></p>
                <p class="light center">University: National University of Singapore</p>
                <p class="light center">Degree: Bachelor of Electrical Engineering</p>
            </div>

            <div class="col">
                <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: palevioletred;">
                    <i class="fas fa-briefcase"></i>
                </span>
                <p class="text-center"><strong>Work Experiences</strong></p>
                <p class="text-center">Software Engineer - Thales (current-1.5 years)</p>
                <p class="text-center">Software Engineer - Continental (9 months)</p>
                <p class="text-center">Software Engineer - NDIAutomation (2.5 years)</p>
            </div>

            <div class="col">
                <span class="d-flex justify-content-center mb-4" style="font-size: 80px; color: palevioletred;">
                    <i class="fas fa-laptop"></i>
                </span>
                <p class="text-center"><strong>Skills Set</strong></p>
                <p class="text-center">Languages: Python (3y), C++(5y), Java(1y)</p>
                <p class="text-center">Backend: SQL (MySQL), NoSQL (DynamoDB)</p>
                <p class="text-center">Frontend: Django, PHP</p>
                <p class="text-center">Machine Learning: sklearn, Keras</p>
            </div>
        </div>

        <h1 style="text-align: center">About WebSite</h1>
        <div class="row">
            <div class="col">
                <h5 class="text-center"><strong>Core Language</strong></h5>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/pythonIcon.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Python</p>
                <p class="text-center">Selenium</p>
                <p class="text-center">BeautifulSoup</p>
                <p class="text-center">Pandas</p>
            </div>

            <div class="col">
                <h5 class="text-center"><strong>Backend</strong></h5>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/dynamoDB.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Amazon DynamoDB</p>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/ec2Icon.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Amazon EC2</p>
            </div>

            <div class="col">
                <h5 class="text-center"><strong>Frontend</strong></h5>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/django.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Django</p>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/Route53Icon.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Amazon Route 53</p>
            </div>

            <div class="col">
                <h5 class="text-center"><strong>Styling</strong></h5>
                <span class="d-flex justify-content-center mb-4">
                    <img src="{% static "images/materialize-icon.png" %}" width="200" height="200">
                </span>
                <p class="text-center">Materialize</p>
            </div>
        </div>
    </main>
    {% include "base/footer.html"%}
</body>